
body {
    font-family: Arial, sans-serif;
    background-color: rgb(65, 202, 237);
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
.pic {
    width: 50%; 
    height: 50%; 
    object-fit: cover; 
}

description {
    text-align: center;
    width: 50%;
    height: 50%;
}

description1 {
    text-align: center;
    width: 50%;
    height: 50%
}

description2 {
    text-align: center;
    width: 50%;
    height: 50%
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
.profile {
    text-align: center;
    margin: 100px 0;
    background-color: beige;
}

.profile-pic {
    width: 500px;
    height: 500px;
}

h1, h2 {
    margin-bottom: 15px;
    text-align: center;
    color: black;
    background-color: white;
}

.details {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.References{
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: blue
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}
